* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    font-family: 'robotoregular', Arial,  sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    background-color: #F5F4F4;
    max-width: 100%;
    overflow-x: hidden;
}
.section {
    width: 100%;
}
.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
}
ul {
    list-style: none;
}
a {
    transition: all .2s 50ms;
}
.flex {
    display: flex;
}
/*
Control points for adaptation 
320px
576px
768px
992px
1200px
1400px
 */
/*------------header------------*/
.section_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 48px;
}
.section_wrapper ul {
    display: flex;
    align-items: center;
}
.section_wrapper ul li {
    display: flex;
    padding: 10px;
    flex-shrink: 0;
}
.section_wrapper ul li:last-child::after {
    content: "*";
    color: #FF8A00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    padding: 4px;
}
.header-menu {
    height: 80px;
    padding: 15px 32px;
} 
.mainmenu_item {
    color: rgba(18, 16, 12, 0.70);
    /* font-family: 'robotoregular', Arial,  sans-serif; */
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0 12px;
}
.mainmenu_item a{
    color: rgba(18, 16, 12, 0.70);
}
.mainmenu_item a:hover,
.mainmenu_item a:focus {
    color: rgb(0, 0, 0);
}
.menu_link {
    text-decoration: none;
}

.mainmenu__login-button {
    border-radius: 12px;
    background: #12100C;
    width: 80px;
    height: 32px;
    flex-shrink: 0;
    color: #F9F9F9;
    /* font-family: 'robotoregular', Arial,  sans-serif; */
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: center;
    padding: 6px;
}
.mainmenu__login-button:hover, 
.mainmenu__login-button:focus {
    background-color: rgb(59, 59, 59);
}
.navbar-toggler {
    display: none;
    /* padding: 14px; */
    fill: #D7B399;
    border: none;
    background-color: #000000;
    height: 32px;
    width: 3rem;
    border-radius: 50px;
}
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .mainmenu__list {
        display: none !important;
        background-color: #F5F4F4;
        order: 3;
        flex-wrap: wrap;
        width: 100%;
    }
    .header-menu {
        position: fixed;
        background-color: #F5F4F4;
    }
    .section_wrapper {
        flex-wrap: wrap;
        row-gap: 0;
    }
}
.show {
    display: block !important;
}
/* -----------main-------------- */
main {
    max-width: 1310px; 
    margin: 0 auto;
}
@media (max-width: 1400px) {
    main {
        max-width: 1200px;
    }
}
@media (max-width: 1200px) {
    main {
        max-width: 1000px;
    }
}
@media (max-width: 992px) {
    main {
        max-width: 800px;
    }
}
@media (max-width: 768px) {
    main {
        max-width: 600px;
    }
}
@media (max-width: 576px) {
    main {
        max-width: 400px;
    }
}
@media (max-width: 320px) {
    main {
        max-width: 250px;
    }
}

/* ------------First section "Always ready to code" */
.first__section {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.first__section-text-and-links {
    max-width: 700px;
}
.first__section-text-and-links h1{
    color: #12100C;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
}
.first__section-text p {
    color: rgba(18, 16, 12, 0.70);
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; /* 138.783% */
}
.try-now {
    display: grid;
    grid-template-columns: 160px 100%;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 16px;
}
.try-now-button {
    color: #12100C;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.5px; /* 125% */
    width: 160px;
    padding: .90rem 2rem;
    border-radius: 16px;
    background: #FFAE33;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
}
.try-now-button:hover,
.try-now-button:focus {
    background: #ffc369;
}
.first__section-links p {
    color: rgba(18, 16, 12, 0.70);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.first__section-links .links {
    width: 160px;
    justify-content: space-around;
}

.first__section-image {
    max-width: 700px;
    padding-left: 70px;
    padding-top: 20px;
    flex: 1;
}
.first__section-image img{
    width: 100%;
    display: block;
}
@media (max-width: 992px) {
    .first__section {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .first__section-image {
        max-width: 700px;
        padding-left: 0;
        padding-top: 20px;
        flex: 1;
    }
    
}
@media (max-width: 768px) {
    .first__section {
        padding-top: 100px;
    }
    .first__section-image {
        max-width: 500px;
        padding-left: 0;
        padding-top: 20px;
        flex: 1;
    }
}
@media (max-width: 320px) {
    .try-now {
        display: grid;
        grid-template: "b"
                       "p"
                       "l";
        gap: 24px;
        margin-top: 48px;
        margin-bottom: 16px;
    }
}
/* ---------------Second section "Select section, start coding" */
.second__section {
    margin: 160px auto 338px auto;
}
.second__section h2::first-line,
.second__section h2:last-child {
    color: #12100C;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.72px; /* 118% */
}
.second__section h2 {
    color: #999795;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 63.72px; /* 118% */
}
.strikethrough-text {
    color: #999795;
    text-decoration: line-through;
}

/* --------------------------Third section "Think CI/CD for dev environments" */
.third__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 66px;
    margin: 178px 0;
    padding: 160px 0 160px 0;
}
.third__section .text-and-buttons h2{
    color: #12100C;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-bottom: 8px;
}
.third__section .text-and-buttons p {
    color: rgba(18, 16, 12, 0.70);
    font-family: Roboto;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; /* 133% */
}
.third__section-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 151px;
}
.third__section .orange-button {
    text-align: center;
    text-decoration: none;
    width: 160px;
    padding: .75rem 2rem;
    border-radius: 10.5px; 
    background: #FFAE33;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    color: #12100C;
    font-family: Roboto;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
}
.third__section .pink-button {
    text-align: center;
    text-decoration: none;
    width: 160px;
    padding: .75rem 2rem;
    border-radius: 10.5px; 
    background: #FFB0AE;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10); 
    color: #12100C;
    font-family: Roboto;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
}
.third__section-image {
    grid-area: i;
    border-radius: 20px; 
    flex-shrink: 0;
}
@media (max-width: 1200px) {
    .third__section-image{
        width: 569px;
        height: 424px;
    }
}
@media (max-width: 992px) {
    .third__section {
        grid-template: "i"
                       "t";
    }
    .third__section-image {
        grid-area: i;
    }
    .third__section .text-and-buttons {
        grid-area: t;
    }
    .third__section .orange-button {
        width: 200px;
        padding: 1.75rem 2rem;
        font-size: 1.2em;
    }
    .third__section .pink-button {
        width: 200px;
        padding: 1.75rem 2rem;
        font-size: 1.2em;
    }
}
@media (max-width: 768px) {
    .third__section-image {
        width: 500px;
        height: 400px;
    }
    .third__section-buttons {
        justify-content: center;
    }
 }
@media (max-width: 320px) {
    .third__section-image {
        width: 250px;
        height: 170px;
    }
    .third__section-buttons {
        flex-wrap: wrap;
    }
}
/* -------------------Fourth section Remote-first. Secure by design. */
.fourth__section {
    margin: 177px auto;
}

.fourth__section h2{
    color: #12100C;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 71.82px; /* 133% */
}
.fourth__section-img{
    display: block;
    width: 1269px;
    height: 821px;
    border-radius: 14px;
    box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.40);
    margin: 47px auto 49px auto;
}
.fourth__section p {
    color: rgba(18, 16, 12, 0.70);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.92px; /* 133% */
    max-width: 877px;
    margin: 0 auto;
}
.fourth__section-links {
    display: flex;
    width: 916px;
    height: 63px;
    margin: 29px auto 0 auto;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.fourth__section-link img {
    width: 24px;
    height: 24px;
}
.fourth__section-link {
    display: flex;
    width: 207px;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: center;
    border: solid #F9F9F9;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.10);
}
@media (max-width: 1400px) {
    .fourth__section-img{
        width: 1069px;
        height: 721px;
    }
}
@media (max-width: 1200px) {
    .fourth__section-img{
        width: 869px;
        height: 521px;
    }
}
@media (max-width: 992px) {
    .fourth__section-img{
        width: 669px;
        height: 421px;
    }
    .fourth__section-links {
        display: flex;
        width: auto;
        height: 63px;
        margin: 29px auto 0 auto;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}
@media (max-width: 768px) {
    .fourth__section-img{
        width: 569px;
        height: 321px;
    }
}
@media (max-width: 576px) {
    .fourth__section-img{
        width: 400px;
        height: 250px;
    }
}
@media (max-width: 320px) {
    .fourth__section-img{
        width: 200px;
        height: 150px;
    }
}
/* --------footer--------- */
.footer {
    background: #F9F9F9;
}
.footer__menu {
    padding: 0 24px;
}
.footer__menu-main {
    padding: 48px 0;
    margin: 0 auto 0 auto;
    max-width: 852px;
    color: rgba(18, 16, 12, 0.70); 
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px; /* 150% */
    justify-content: space-between;
    border-bottom: solid 1px #ECE7E5;
}
.footer__menu-main li {
    padding-top: 7px;
}
.footer__menu-main:hover,
.footer__menu-main:focus {
    color: black;
}
.footer__menu-main li::first-line {
    color: #12100C; 
}
.footer-menu-company li:nth-child(3)::after {
    content: "*";
    color: #FF8A00;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    padding: 4px;
}
.footer__menu-main a {
    color: rgba(18, 16, 12, 0.70); 
    text-decoration: none;
}

.copyright {
    padding: 33px 0;
    margin: 0 auto 0 auto;
    max-width: 852px;
    justify-content: space-between;
}
.copyright a {
    text-decoration: none;
}
.copyright svg:hover,
.copyright svg:focus {
    fill:#FF8A00;
}
.copyright-logo {
    flex-direction: row;
    gap: 8px;
    color: rgba(18, 16, 12, 0.70);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px; /* 150% */
}
.copyright-links {
    gap: 16px
}
@media (max-width: 1400px) {
    .footer-menu-gitpod-link {
        font-size: 18px;
    }
}
@media (max-width: 320px) {
    .footer__menu-main {
        flex-wrap: wrap;
    }
}